$color-primary : #31babc;
$color-primary-light : #59F8E8;
$color-primary-dark : #187274;

$color-secondary: #f16735;

$color-green-light: #1FDED8;
$color-purple: #661FDE;
$color-pink: #DB1FDE;

$color-grey-light-2: #F7F7F7;
$color-light-grey-1 : #f7f7f7;
$color-grey-light : #D7D9D7; 
$color-grey-medium : #777;
$color-grey-dark : #393E41;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;

$color-black: #000;

$max-width: 140rem;