.header__button {

  color: $color-white;
  padding: 1rem 3rem;
  background-color: rgba($color-primary, 0.7);
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  position: relative;
  bottom: 20rem;
  cursor: pointer;

}