.spinner {
  position: relative;
  left: 50%;
  transform: translateX(50%);
  top: 30%;
  width: 10rem;
  height: 10rem;

  div {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border: 8px solid transparent;
    border-top-color: #ad60f5;
    border-radius: 50%;
    animation: spinnerOne 1.2s linear infinite;
  }

  div:nth-child(2) {
    border: 8px solid transparent;
    border-bottom-color: #ad60f5;
    animation: spinnerTwo 1.2s linear infinite;
  }
}

@keyframes spinnerOne {
  0% { transform: rotate(0deg); border-width: 1rem;}
  50% { transform: rotate(180deg); border-width: 0.1rem;}
  100% { transform: rotate(360deg); border-width: 1rem;}
}

@keyframes spinnerTwo {
  0% { transform: rotate(0deg); border-width: 0.1rem;}
  50% { transform: rotate(180deg); border-width: 1rem;}
  100% { transform: rotate(360deg); border-width: 0.1rem;}
}